<hr class = 'nav-padding'/>
<div class = 'container product-title'>
  <h2> <%= @product.name %> </h2>
</div>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'product-display col-md-7'>
      <div class = 'image-active'>
        <%= image_tag 'hutzler-571-banana-slicer-300px.jpg' %>
      </div>
    </div>
    <div class = 'col-md-2'>
      <span class='product-price'>Price: $<%= @product.price %> </span>
      <hr />
      <div id='specifications'>
        <%= render 'specifications/edit' %>
      </div>
    </div>
  </div>
</div>
